.Navbar{
    height: 56px;
	background: blue;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

.Navbar h1{

    color: black;
  font-size: 100%;
}